
<%  dzisiaj=@t
    day=dzisiaj.strftime("%a")
    dzien=dzisiaj.day
%>
<h3> <%= @doctor.name %>
      <%= @doctor.surname %> </h3>
<%    tablica=[Time.now,Time.now,Time.now,Time.now,Time.now]
      case day
      when "Mon"
          tablica[0]=dzisiaj
          tablica[1]=dzisiaj+(60*60*24)
          tablica[2]=dzisiaj+2*(60*60*24)
          tablica[3]=dzisiaj+3*(60*60*24)
          tablica[4]=dzisiaj+4*(60*60*24)
      when "Tue"
          tablica[0]=dzisiaj-(60*60*24)
          tablica[1]=dzisiaj
          tablica[2]=dzisiaj+(60*60*24)
          tablica[3]=dzisiaj+2*(60*60*24)
          tablica[4]=dzisiaj+3*(60*60*24)
      when "Wed"
          tablica[0]=dzisiaj-2*(60*60*24)
          tablica[1]=dzisiaj-(60*60*24)
          tablica[2]=dzisiaj
          tablica[3]=dzisiaj+(60*60*24)
          tablica[4]=dzisiaj+2*(60*60*24)
      when "Thu"
          tablica[0]=dzisiaj-3*(60*60*24)
          tablica[1]=dzisiaj-2*(60*60*24)
          tablica[2]=dzisiaj-(60*60*24)
          tablica[3]=dzisiaj
          tablica[4]=dzisiaj+(60*60*24)
      when "Fri"
          tablica[0]=dzisiaj-4*(60*60*24)
          tablica[1]=dzisiaj-3*(60*60*24)
          tablica[2]=dzisiaj-2*(60*60*24)
          tablica[3]=dzisiaj-(60*60*24)
          tablica[4]=dzisiaj
      when "Sat"
          tablica[0]=dzisiaj+2*(60*60*24)
          tablica[1]=dzisiaj+3*(60*60*24)
          tablica[2]=dzisiaj+4*(60*60*24)
          tablica[3]=dzisiaj+5*(60*60*24)
          tablica[4]=dzisiaj+6*(60*60*24)
      when "Sun"
          tablica[0]=dzisiaj+3*(60*60*24)
          tablica[1]=dzisiaj+4*(60*60*24)
          tablica[2]=dzisiaj+5*(60*60*24)
          tablica[3]=dzisiaj+6*(60*60*24)
          tablica[4]=dzisiaj+7*(60*60*24)
      end %>

<table border="1">
  <tr>
  <th class="tab">Godziny</th>
  <th class="tab">Poniedziałek<br/><%= tablica[0].strftime("%d/%m/%y") %> </th>
  <th class="tab">Wtorek<br/><%= tablica[1].strftime("%d/%m/%y") %> </th>
  <th class="tab">Środa<br/><%= tablica[2].strftime("%d/%m/%y") %> </th>
  <th class="tab">Czwartek<br/><%= tablica[3].strftime("%d/%m/%y") %> </th>
  <th class="tab">Piątek<br/><%= tablica[4].strftime("%d/%m/%y") %> </th>
  </tr>
  <tr>
    <td>
      <table class="tab_godz">
      <% for godz in @hours %>
        <tr><td><%=   "#{godz}.00 - #{godz}.30" -%></td></tr>
        <tr><td><%=   "#{godz}.30 - #{godz+1}.00" -%></td></tr>
        <% end %>
        </table>
    </td>

    <% i = 0 %>

    <%  for term in @terms  %>

        <td><table class="tab">

            <% for godz in @hours %>

                  <% if  dzisiaj <= tablica[i] &&  godz >= term.start_time && godz < term.end_time then %>

                         <% if !(dzien == tablica[i].day && godz < dzisiaj.hour) then %>
                                       <% miesiac_2=tablica[i].strftime("%b")
                                          dzien_2= tablica[i].day %>

                                   <%  if !@registered.include?(Time.utc(2011,miesiac_2,dzien_2,godz,0,0)) then %>
                                          <tr><td><%=  link_to "Zapisz", {:action => :visit_creation, :doctor_id => @doctor.id, :mies => miesiac_2, :dzien => dzien_2, :godz => godz, :min => 0 },  :confirm => "Zapisac do #{@doctor.name} #{@doctor.surname} na  #{godz}.00 dnia #{tablica[i].strftime("%d/%m/%y")} ?"  %></td></tr>
                                   <% else %>
                                          <tr><td>Niedostępne</td></tr>
                                   <%end%>
                                   <%  if !@registered.include?(Time.utc(2011,miesiac_2,dzien_2,godz,30,0)) then %>
                                          <tr><td><%=  link_to "Zapisz", {:action => :visit_creation, :doctor_id => @doctor.id, :mies => miesiac_2, :dzien => dzien_2, :godz => godz, :min => 30 }, :confirm => "Zapisac do #{@doctor.name} #{@doctor.surname} na  #{godz}.30 dnia #{tablica[i].strftime("%d/%m/%y")} ?" %></td></tr>
                                   <%else%>
                                          <tr><td>Niedostępne</td></tr>
                                   <%end%>
                         <% else %>
                                 <tr><td>Niedostępne</td></tr>
                                 <tr><td>Niedostępne</td></tr>
                         <% end %>

                   <% else %>
                         <tr><td>Niedostępne</td></tr>
                         <tr><td>Niedostępne</td></tr>
                   <% end %>

            <%  end
                i+=1
            %>
          </table>
        </td>
    <% end %>
  </tr>
</table>